.logo{
    height: 80px;
    width: 80;
}

.bgback{
    background-color: rgba(85, 184, 175, 0.233);
}

.navcolor{
    background-color: black;
}

.navfont{
    font-size: 16px;
    font-weight: 700;
}

.myhover a:hover{
    color:red !important;
}

.carousel-item img {
    width: 100%;
    height: 600px; /* Adjust the height as needed */
    background-position: cover; /* Ensures images fill the space without distortion */
  }

 